<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 다른 앱의 설치 여부를 쿼리하기 위한 권한을 추가합니다. -->
    <queries>
        <package android:name="com.magneticchen.daijishou" />
        <package android:name="org.es_de.frontend" />
        <package android:name="org.pegasus_frontend.android" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/App.Theme.Godaijishou">

        <!-- Xposed 모듈 정보 -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_description" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />

        <!-- 설정 화면 (앱 서랍에 아이콘으로 표시됨) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 런처 선택 화면 (내부적으로만 사용됨) -->
        <activity
            android:name=".SelectorActivity"
            android:excludeFromRecents="true"
            android:theme="@style/App.Theme.Godaijishou"
            android:exported="true" />

        <provider
            android:name=".SettingsProvider"
            android:authorities="kr.opencourse.godaijishou.provider"
            android:exported="true" />

    </application>
</manifest>
